extends ../layouts/layout

block styles 
    link(
        rel="stylesheet", 
        href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta21/dist/css/tabler.min.css"
    )

block content 
    .row.g-0.flex-fill
        .col-12.col-lg-6.col-xl-4.border-top-wide.border-muted.d-flex.flex-column.justify-content-center
            .container.container-tight.my-5.px-lg-5
                .text-center.mb-4
                    a.navbar-brand("/")
                        img(src="/images/logo.svg", alt="Personal Database Management", width="84")
                h3.h3.text-center.mb-3 Login to your account
                form(
                    method="POST", 
                    action="/", 
                    autocomplete="off"
                )   
                    if errors && errors.length !== 0
                        .alert.alert-danger.text-start.mb-4
                            each error in errors
                                p.mb-0= error
                    .mb-3
                        label.form-label(for="email") Email address
                        input.form-control(
                            type="email", 
                            id="email", 
                            name="email", 
                            placeholder="Enter your email",
                            value= defaults ? defaults.email : "", 
                            required
                        )
                    .mb-3
                        label.form-label(for="password") Password
                        input.form-control(
                            type="password", 
                            id="password", 
                            name="password", 
                            placeholder="Enter your Password", 
                            value= defaults ? defaults.password : "",
                            required
                        )
                    .form-footer
                        button.btn.btn-muted.w-100(type="submit") Login
                .text-center.text-secondary.mt-3
                    | Don't have an account yet? 
                    a.link-muted(href="/register") Register
        .col-12.col-lg-6.col-xl-8.d-none.d-lg-block  
            .bg-cover.h-100.min-vh-100(
                style="background-image: url('/images/laptop.png')"
            )

block scripts 
  script(src="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta21/dist/js/tabler.min.js")