header.navbar.navbar-expand-md.d-print-none
            .container-xl
                button.navbar-toggler(
                    type="button", 
                    data-bs-toggle="collapse", 
                    data-bs-target="#navbar-menu", 
                    aria-controls="navbar-menu", 
                    aria-expanded="false", 
                    aria-label="Toggle navigation"
                )
                    span.navbar-toggler-icon
                .navbar-brand.d-none-navbar-horizontal.pe-0.pe-md-3
                    a(href="/dashboard")
                        img(src="/images/logo.svg", alt="Logo", width="64")
                .navbar-nav.flex-row.order-md-last
                    .nav-item.dropdown 
                        a.nav-link.d-flex.lh-1.text-reset.p-0(
                            href="#",
                            data-bs-toggle="dropdown",
                            aria-label="Open user menu"
                        )
                            span.avatar.avatar-sm.avatar-rounded.bg-muted
                                i.icon.ti.ti-user(
                                    style="color: #ffffff"
                                )
                            .d-none.d-xl-block.ps-2 #{user.name}
                        .dropdown-menu.dropdown-menu-end.dropdown-menu-arrow
                            a.dropdown-item(href="/dashboard/profile")
                                i.icon.dropdown-item-icon.ti.ti-user-circle
                                | Profile
                            .dropdown-divider
                            form(
                                action="/logout", 
                                method="post"
                            )
                                button.dropdown-item(
                                    type="submit"
                                )
                                    i.icon.dropdown-item-icon.ti.ti-logout
                                    | Logout
                            